.addFile {
    font-family: 'heebo';
    font-size: 12px;
    /* width: 300px; */
    width: 380px;
    padding: 7px;
    text-align: right;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row-reverse;
    border: solid;
    border-width: thin;
    border-radius: 2px;
    border-color: #767676;
    justify-content: space-between;
}

.file {
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
}

.date {
    width: auto;
}

.inputs {
    font-family: 'heebo';
    font-size: 12px;
    width: auto;
    padding: 7px;
    text-align: right;
    margin-bottom: 15px;
}

.fileName {
    text-align: right;
    border: none;
}