.login {
    margin-top: 7%;
}

.btnEnter {
    margin-top: 30px;
    width: 320px;
    background-color: orange;
    color: white;
    font-family: 'heebo';
    font-size: 20px;
    border: none;
    padding: 4px;
    border-radius: 3px;
}

.logo {
    height: 100px;
    margin-bottom: 30px;
}