.accordionContainer {
    min-width: 380px;
}

.accordion-button {
    flex-direction: row-reverse;
}

.accordion-button::after {
    margin-right: 5%;
}

.btnadd {
    height: 35px;
    min-width: 35px;
    font-size: 15px;
    font-family: 'heebo';
    padding: 6px;
    border: solid;
    border-radius: 3px;
    background-color: white;
    margin-top: 15px;
}

.removeBtn {
    height: 15px;
    cursor: pointer;
    margin-bottom: 15px;
}

.save {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.checkboxcon {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.checkboxstyle {
    display: flex;
    flex-direction: row-reverse;
    gap: 14px;
    font-family: 'heebo';
    font-size: small;

}

.titleCheck {
    display: flex;
    justify-content: flex-start;
    direction: rtl;
    font-family: "heebo";
    margin-right: 10px;
    margin-bottom: 10px;
}