.modal.show .modal-dialog {
    display: flex;
    justify-content: center;
}

.popupHeader {
    justify-content: space-between;
    flex-direction: row-reverse;
    font-family: 'heebo';

}

.modal-header .btn-close {
    margin: 0px;
}

.modal-content {
    width: max-content
}

.modal-body {
    text-align: right;
    margin-right: 20px;
    font-family: 'heebo';
    direction: rtl;
    padding: 30px;
    line-height: 30px;
}

.modal-footer {
    justify-content: flex-start;
    font-family: 'heebo';

}

.selectService {
    margin-top: 10px;
}

.innerPopupProject {
    line-height: 30px;

}

.date {
    display: flex;
    gap: 15px
}